<!DOCTYPE html>
<html lang="zh-Hant-TW"> 
  <head>





    <meta name=robots content=noindex>




    
    <title>輸入，頁面標題 25～30 個中文字</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="zh-Hant-TW">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable = yes">
    <meta name="google-site-verification" content="SU5NCjt08O2L_dHMrPUSyLbRSG8_gK5cVC9Fa4hjVgE" />
    <meta name="msvalidate.01" content="5C0FB62CF1A6A5C9149F8C52E6979B61" />
  

    <!-- for Facebook -->
    <meta property="og:title" content="測試專題"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.BASE_URL %>"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.BASE_URL %>meta.jpg"/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？"/>
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@udnNewMedia" />
    <meta name="twitter:title" content="測試專題" />
    <meta name="twitter:description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？" />
    <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.BASE_URL %>" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.BASE_URL %>meta.jpg" />

    <!-- for Google -->
    <meta name="application-name" content="聯合報-新媒體中心"/>
    <meta name="copyright" content="聯合報"/>
    <meta name="title" content="測試專題" />
    <meta name="keywords" content="關鍵字建議放5或6個" />
    <meta name="description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？" />

    <meta property="fb:admins" content="671188086">
    <meta property="fb:app_id" content="1010324812347164">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="聯合報"/>
    <meta property="article:author" content="https://www.facebook.com/udnplus">
    <meta property="article:publisher" content="https://www.facebook.com/udnplus">

    <!-- browser color -->
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="icon" type="image/ico" href="https://udn.com/upf/newmedia/image/udn-icon.ico"/>
    <link rel="stylesheet" href="https://newmedia.udn.com.tw/cms_assets/icons_v4/icons.css">
    
    <link rel="alternate" media="only screen and (max-width: 640px)" href="專題頁面正式網址(RWD) 或是 手機版網址">
    <link rel="canonical" href="專題頁面正式網址(RWD) 或是 電腦版網址">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      //新媒體中心
      ga('create', 'UA-131594015-1', 'auto', {'name' : 'newmedia'});
      ga('newmedia.send', 'pageview');

      //udn 聯合新聞網
      ga('create', 'UA-19660006-1', 'auto', {'name' : 'udn'});
      ga('udn.send', 'pageview');

      //theme 時事話題
      ga('create', 'UA-44955675-22', 'auto', {'name' : 'theme'});
      ga('theme.send', 'pageview');

      // 聯合報新聞部用GA，請將下面註解消除
      // ga('create', 'UA-109046852-1', 'auto', {'name': 'nightPaper'});
      // ga('nightPaper.send', 'pageview');
    </script>
    
    <!-- monitor code -->
    <%= htmlWebpackPlugin.options.MONITOR %>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but it doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '1010324812347164',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    </script>
    <script async defer src="https://connect.facebook.net/zh_TW/sdk.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- loading -->
    <script src="https://newmedia.udn.com.tw/cms_assets/nmd_loading/nmd-loading.min.js"></script>
    <link rel="stylesheet" href="https://newmedia.udn.com.tw/cms_assets/nmd_loading/nmd-loading.css">

    <!-- content -->
    <div id="app"></div>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "url": "https://專題頁面正式網址",
        "headline": "同頁面標題",
        "datePublished": "2019-06-18T07:00:00+08:00",
        "dateModified":"2019-06-19T07:00:00+08:00",
        "description": "同頁面META敘述",
        "articleSection":"專題報導",
        "author": {
              "@type": "Organization",
              "name": "製作團隊人名"
        },
        "publisher": {
            "@type": "Organization",
            "name": "udn 新媒體中心 | 聯合報",
            "logo": {
                "@type": "ImageObject",
                "url": "https://udn.com/upf/newmedia/image/nmd-logo.png"
              },
            "sameAs": ["https://www.facebook.com/udnplus/", "https://www.instagram.com/udngroup/","https://www.youtube.com/channel/UCEt9Vy6Kz4GKlePLgIJbtoA"]
        },
        "image": {
              "@type": "ImageObject",
              "url": "專題頁面正式網址+分享圖片路徑+檔名"
        },
        "mainEntityOfPage": "專題頁面正式網址"
      } 
    </script>
  </body>
</html>