<!DOCTYPE html>
<!-- 台灣地區語言 zh-Hant-TW  -->
<html lang="zh-Hant-TW"> 
  <head>





    <!-- noindex防止GOOGLE收錄頁面，PM說正式上線時拿掉 -->
    <meta name=robots content=noindex>





    <title>輸入，頁面標題 25～30 個中文字</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="zh-Hant-TW">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable = yes">
    <meta name="google-site-verification" content="SU5NCjt08O2L_dHMrPUSyLbRSG8_gK5cVC9Fa4hjVgE" />
    <meta name="msvalidate.01" content="5C0FB62CF1A6A5C9149F8C52E6979B61" />
  
    <!-- for Facebook -->
    <meta property="og:title" content="測試專題"/>
    <meta property="og:url" content="https://nmdap.udn.com.tw/test/longform_v4/t1/"/>
    <meta property="og:image" content="https://nmdap.udn.com.tw/test/longform_v4/t1/meta.jpg"/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？"/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@udnNewMedia" />
    <meta name="twitter:title" content="測試專題" />
    <meta name="twitter:description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？" />
    <meta name="twitter:url" content="https://nmdap.udn.com.tw/test/longform_v4/t1/" />
    <meta name="twitter:image" content="https://nmdap.udn.com.tw/test/longform_v4/t1/meta.jpg" />

    <!-- for Google -->
    <meta name="application-name" content="聯合報-新媒體中心"/>
    <meta name="copyright" content="聯合報"/>
    <meta name="title" content="測試專題" />
    <meta name="keywords" content="關鍵字建議放5或6個" />
    <meta name="description" content="1999年的921大地震帶走2415條人命、震垮10多萬棟房屋，這場世紀災難是台灣人的共同記憶，如今時間已過了20年，當年的災民們過得如何？我們的家園夠安全了嗎？" />

    <meta property="fb:admins" content="671188086">
    <meta property="fb:app_id" content="1010324812347164">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="聯合報"/>
    <meta property="article:author" content="https://www.facebook.com/udnplus">
    <meta property="article:publisher" content="https://www.facebook.com/udnplus">

    <!-- browser color -->
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="icon" type="image/ico" href="https://udn.com/upf/newmedia/image/udn-icon.ico"/>
    <link rel="stylesheet" href="https://newmedia.udn.com.tw/cms_assets/icons_v4/icons.css">
    
    <!-- SEO 添加獨立網址，電腦版和行動版網址的註解 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="專題頁面正式網址(RWD) 或是 手機版網址">
    <link rel="canonical" href="專題頁面正式網址(RWD) 或是 電腦版網址">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      //新媒體中心
      ga('create', 'UA-131594015-1', 'auto', {'name' : 'newmedia'});
      ga('newmedia.send', 'pageview');

      //udn 聯合新聞網
      ga('create', 'UA-19660006-1', 'auto', {'name' : 'udn'});
      ga('udn.send', 'pageview');

      //theme 時事話題
      ga('create', 'UA-44955675-22', 'auto', {'name' : 'theme'});
      ga('theme.send', 'pageview');

      // 聯合報新聞部用GA，請將下面註解消除
      // ga('create', 'UA-109046852-1', 'auto', {'name': 'nightPaper'});
      // ga('nightPaper.send', 'pageview');
    </script>
    
    <!-- Facebook Pixel Code -->
    <!-- Facebook Pixel Code -<詮識代收付> 聯合報新媒體中心 - 台幣 -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/zh-TW/fbevents.js');
      fbq('init', '285426731894626');
      fbq('track', 'PageView');
    </script>

    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=285426731894626&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- udn comScore Tag -->
    <script>
      var _comscore = _comscore || [];
      _comscore.push({ c1: "2", c2: "7390954" });
      (function() {
      var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
      s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
      el.parentNode.insertBefore(s, el);
      })();
    </script>

    <noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=7390954&cv=2.0&cj=1" />
    </noscript>

    <!-- udn Alexa Certify Javascript -->
    <script type="text/javascript">
      _atrk_opts = { atrk_acct:"aw0Di1a4ZP00aY", domain:"udn.com",dynamic: true};
      (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
      
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=aw0Di1a4ZP00aY" style="display:none" height="1" width="1" /></noscript>

    <!-- Begin etu Tag -->
    <script id="etu-recommender" type="text/javascript">
      //var atid=rId();
      // sLogin=GetCkValue("udnmember");
      var temp = window.location.href.split('/')
      var pid = ''
      if(temp.length > 3){
          pid = temp[temp.length-3] + '_' + temp[temp.length-2]
      }
      var erUrlPrefix='https://rec.udn.com/';
      var _qevents = _qevents || [];
      _qevents.push({
        group:'udn',
        cid : 'udn_soft',
        act : 'view',
        cat : ['newmedia','newmedia','','',''],
        uid : '',
        bid : '',
        pid : pid,
        page:'ARTICLE',
        Rank_cat:'10',
        Rank_pid:'10',
        title: document.querySelector('title').innerHTML,
        tag:[],
        referral: document.referrer
      });
      (function() {
        var er = document.createElement('script');
        er.type = 'text/javascript';
        er.async = true;
        er.src = erUrlPrefix + 'er.js?' + (new Date().getTime());
        var currentJs = document.getElementById('etu-recommender');
        currentJs.parentNode.insertBefore(er, currentJs);
      })();
    </script>

    <!-- 數位專題Pixel 20190221-->
    <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/zh-TW/fbevents.js');
        fbq('init', '1624500254526892');
        fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1624500254526892&ev=PageView&noscript=1"/>
      </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'ogi8kae',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <!-- end typekit -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but it doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '1010324812347164',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    </script>
    <script async defer src="https://connect.facebook.net/zh_TW/sdk.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- loading -->
    <script src="https://newmedia.udn.com.tw/cms_assets/nmd_loading/nmd-loading.min.js"></script>
    <link rel="stylesheet" href="https://newmedia.udn.com.tw/cms_assets/nmd_loading/nmd-loading.css">

    <!-- content -->
    <div id="app">
      <page-indicator></page-indicator>
      <header-type-a page-title="這一頁的標題">
        <a href="https://udn.com" target="_blank" rel="noopener">外連1</a>
        <a href="https://udn.com" target="_blank" rel="noopener">外連2</a>
        <a class="active">自己這頁</a>
      </header-type-a>
      <!-- <header-type-b
        page-title="這一頁的標題"
      >
      </header-type-b> -->
      <!-- <header-type-c
        theme="dark"
        page-title="這一頁的標題"
      >
      </header-type-c> -->
      <!-- <header-type-d
        page-title="最後一戰系列"
        theme="dark"
      >
        <a href="https://udn.com" target="_blank" rel="noopener">Halo: The Master Chief Collection</a>
        <a href="https://udn.com" target="_blank" rel="noopener">Halo Way Point</a>
        <a class="active">最後一戰系列</a>
      </header-type-d> -->
      <page-cover
        src-mob="./assets/img/cover/mob.jpg"
        src-pad="./assets/img/cover/pad.jpg"
        src-pc="./assets/img/cover/pc.jpg"
        pos="25,25"
        pos-pad="50,50"
        pos-pc="75,75"
        text-color="#dedede"
        writing-mode="vrl"
      > 
        <h1>這是很長的大標題大標題<br></h1>
        <h2>這是很長很長的副標題副標題副標題</h2>
      </page-cover>
      <!-- <article-container>
        <h1>這是H1</h1>
        <h2>這是H2</h2>
        <h3>這是H3</h3>
        <h4>這是H4</h4>
        <p>這是P這是P這是P這是P這是P這是P</p>
        <p class="small">這是P small這是P small這是P small這是P small這是P small</p>
        <article-column-one
          src-mob="./assets/img/halo/1.jpg"
          src-pad="./assets/img/halo/1.jpg"
          src-pc="./assets/img/parallax.jpg"
          alt="Halo Infinite"
        >這是圖說這是圖說這是圖說這是圖說這是圖說這是圖說。</article-column-one>
      </article-container> -->
      <article-container>
        <p>最後一戰系列（英語：Halo，中國大陸譯作「光環」，中國大陸舊譯「光暈」），是由Bungie開發，由微軟發行的科幻第一人稱射擊遊戲系列。故事發生在「Halo 宇宙」中。這個「宇宙」是由Bungie為這個系列所創造的。</p>
        <article-cast-anchor title="系列作品發行時間"></article-cast-anchor>
        <h3>系列作品發行時間</h3>
        <p>最初的作品《外星戰爭：戰鬥進化》<article-dictionary>《最後一戰：戰鬥進化》（英語：Halo: Combat Evolved）是跨平台電子遊戲，在2001年11月15日與主機Xbox同步發售的第一人稱射擊遊戲[1]，相隔兩年後移植到Windows和Mac OS上。該作在開發時曾經打算過製成即時戰略遊戲。</article-dictionary>於2001年11月15日在XBOX發行。不久後，該作品在Windows和Mac上發行。</p>
        <p>第二款作品《最後一戰2》<article-dictionary>《最後一戰2》（英語：Halo 2）是《最後一戰：戰鬥進化》的續作。</article-dictionary>於2004年11月9日發行，打破了以往遊戲的首周售量紀錄。</p>
        <p>第三款作品《最後一戰3<article-dictionary>《最後一戰3》（英語：Halo 3，中國大陸譯作「光環3」，中國大陸又譯作「光暈3」）是一款由Bungie開發的Xbox 360獨占第一人稱射擊遊戲，2007年9月25日午夜在北美首發。</article-dictionary>》於2007年9月25日發行，從此該系列僅能於XBOX 360平台遊玩。[1]</p>
        <article-column-one
          src-mob="./assets/img/halo/1.jpg"
          src-pad="./assets/img/halo/1.jpg"
          src-pc="./assets/img/parallax.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>第四款作品《最後一戰：星環戰役》於2009年3月3日發行，為即時戰略類型遊戲。</p>
        <p>第五款作品《最後一戰3：ODST》於2009年9月22日發行，為最後一戰2~3之間的資料片。</p>
        <p>第六款作品《最後一戰：瑞曲之戰》於2010年9月14日發行，為《最後一戰：戰鬥進化》的前部曲。</p>
        <p>第七款作品《最後一戰 復刻版》於2011年11月15日發行，為《最後一戰：戰鬥進化》的重製版。</p>
      </article-container>
      <article-parallax
        src-mob="./assets/img/halo/2.jpg"
        src-pad="./assets/img/halo/2.jpg"
        src-pc="./assets/img/parallax.jpg"
      ></article-parallax>
      <article-container>
        <p>第八款作品《最後一戰4》<article-dictionary>《最後一戰4》（英語：Halo 4，中國大陸譯作「光環4」，中國大陸又譯作「光暈4」）是最後一戰系列第八作，遊戲發售於Xbox 360平台。遊戲是最後一戰系列新三部曲「Reclaimer Trilogy」的首作[1]。之前的最後一戰遊戲都由Bungie開發[2]，而343 Industries則接替了《最後一戰4》的這一任務。遊戲續接了《最後一戰3》之後的故事，而主角士官長也重新回來了[3]。遊戲定於2012年11月6日發售。[4]</article-dictionary>於2012年11月6日發行，時間軸從最後一戰3的結局後開始。</p>
        <p>第九款作品《最後一戰5：守護者》<article-dictionary>《最後一戰5：守護者》（日語：ヘイロー 5：ガーディアンズ，英語：Halo 5: Guardians，中國大陸譯作「光環5：守護者」），為最後一戰系列第九作，遊戲發售於Xbox One平台。遊戲是最後一戰系列新三部曲「Reclaimer Trilogy」的次作，首作為《最後一戰4》。</article-dictionary>於2015年10月27日發行。</p>
        <p>第十款作品《最後一戰：星環戰役2》於2017年2月21日發行，時間軸為《最後一戰5：守護者》之後，《最後一戰：星環戰役》的28年後。</p>
        <article-column-one
          src-mob="./assets/img/1.jpg"
          src-pad="./assets/img/2.jpg"
          src-pc="./assets/img/parallax.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <article-column-two
          src-mob_1="./assets/img/column/1/mob.jpg"
          src-pad_1="./assets/img/column/1/mob.jpg"
          src-pc_1="./assets/img/column/1/pc.jpg"
          src-mob_2="./assets/img/column/2/mob.jpg"
          src-pad_2="./assets/img/column/2/mob.jpg"
          src-pc_2="./assets/img/column/2/pc.jpg"
          alt_1="Halo Infinite"
          alt_2="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-two>
        <article-quote
          img="./assets/img/cortana.jpg"
          text="＂未來老人不會忙著生病，會愈來愈健康＂＂未來老人不會忙著生病，會愈來愈健康＂"
          refer="Cortana"
        ></article-quote>
        <article-youtube src="https://www.youtube.com/embed/44oJi5w2Wjc" showinfo="no" controls="no"></article-youtube>
        <article-cast-anchor title="世界觀與名詞"></article-cast-anchor>
        <h3>世界觀與名詞</h3>
        <p>本系列講述未來人類與來自獵戶座，以宗教結合的外星種族聯盟「星盟」（Covenant）發生血腥戰爭為起點逐步揭開宇宙更深層奧秘的故事，除電玩外還有多本小說與短篇電影。</p>
        <p>先驅：無法追溯的億萬年前存在於宇宙的超高先進文明，幾乎控制了萬物的能量與本源至理，後來卻消失但卻留下了不少遺產與「衣缽」文化。</p>
        <p>衣缽：先行者堅信衣缽文化（The Mantle）自古老的先驅傳承延續而來，視為立國之本的核心信仰，究極目標即是保護並促進所有種族文明的發展，但執行層面不同意見甚多，也引發不少星際戰爭。</p>
        <article-column-three
          src-mob_1="./assets/img/column/1.png"
          src-pad_1="./assets/img/column/1.png"
          src-pc_1="./assets/img/column/1.png"
          src-mob_2="./assets/img/column/2.png"
          src-pad_2="./assets/img/column/2.png"
          src-pc_2="./assets/img/column/2.png"
          src-mob_3="./assets/img/column/3.png"
          src-pad_3="./assets/img/column/3.png"
          src-pc_3="./assets/img/column/3.png"
          alt_1="Halo Infinite"
          alt_2="Halo Infinite"
          alt_3="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-three>
        <p>上古三族大戰：先行者、古人類、蟲族的一場遠古星際大戰，有一眾多遺跡中訊息總和而成的理論，認為先行者和上古人類都是先驅製造的產物作為自己離開這銀河系後的衣缽繼承者，然而最後先驅選定了人類較合適，先行者卻不甘而發動偷襲自己的創造者，先驅迴避至銀河外後感到震怒決定消滅先行者所以創造了蟲族這基因武器，蟲族首領上古屍腦獸其實就是一名先驅犧牲自己成為感染體也叫做原基(Primordial)。蟲族也攻擊人類但是對人類的考驗，最終停止了對人類的侵攻也並非古人類戰鬥與科技因素而是上古屍腦獸下令測驗結束轉變進攻方向，開始消滅先行者計畫。戰爭結果是蟲族和人類都被擊敗，看似先行者獲勝但這似乎是一場偽勝，戰後保留人類但退化放逐的一派居然在先行者議會中佔上風導致人類存續，而後續種種怪事導致先行者內戰，和最終一幕上古屍腦獸居然說服了先行者自己建造的終極武器AI「偏見之僧」戲劇性叛變滅掉先行者自己，這一切似有一種更大的力量在作用，似乎每個人跑得再遠都終究在先驅的大算計之中。[3]</p>
        <p>上古人類：人類曾經有過輝煌星際文明,與先行者只差一些，而蟲族崛起後不斷入侵的慘烈戰爭導致人類去入侵先行者領土以獲得更多資源支撐戰爭，最終人類在兩面作戰中被先行者擊潰消滅，文明毀滅後，物種被退化放逐，十多萬年後形成今日地球的人類。</p>
        <article-column-one
          src-mob="./assets/img/halo/2.jpg"
          src-pad="./assets/img/halo/2.jpg"
          src-pc="./assets/img/halo/2.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>執政官總督弗斯科恩仇：上古人類軍團高階指揮官，弗斯科恩仇曾經建議將蟲族引回銀河牽制先行者的進攻步伐，但在雅皮琳等人的堅決反對下只得作罷。戰敗後肉體被重組機所毀滅，但意志與精神，卻隨同GEAS綿延不絕。[3]</p>
        <p>先行者：[3]約西元前15萬年開始崛起的外星人，憑藉先驅遺留於世的超神科技，先行者成長為銀河系中最為傑出卓越的超凡種族。他們堅信只有自己才能承載衣缽這一維護整個宇宙生命的重大責任。後來一系列事變與教義爭端導致內戰而重創幾乎消失。</p>
        <p>大架構師法伯：全名「法伯偉大意志」。他是先行者最高階級—架構師的領袖，蟲族戰後下令建造了光環陣列和奮戰級人工智慧-偏見之僧。先知一族叛亂中使用光環將其滅族引發衣缽教義爭論，最後導致先行者內戰。他放任偏見之僧獨自看管屍腦獸導致偏見之僧叛亂。大架構師在首都被毀時倖存並參加了最後戰役.他有著把本尊宣教士丟到蟲族出沒的區域,違反衣缽等罪行,但他在最後戰役意識到自己犯的錯並光榮犧牲在最後戰役。</p>
        <p>宣教士本尊：全名「碎星暗影」先行者軍事力量的最高指揮官，畢生堅信守護衣缽之重任，與上古人類和蟲族進行過多場史詩般戰鬥，後來一系列原因導致被囚禁冥塚十萬年。後來被大架構師法伯丟到蟲族出沒的地區自生自滅,但成功逃脫。此人是大架構師的政治勁敵.他主張盾世界計劃而非大架構師主張的最後一戰計劃。</p>
        <article-column-one
          src-mob="./assets/img/1.jpg"
          src-pad="./assets/img/1.jpg"
          src-pc="./assets/img/2.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>智庫長：先行者造物者階級，有女神地位，是有史以來獲得創世者（Lifeshaper）稱號僅有的三名造物者之一。智庫長的愛人便是宣教士。蟲族戰爭爆發之後智庫長開啟旅程收集銀河各物種放入方舟工廠，避免被蟲族毀滅，戰後也參加了古人類放逐計畫，雖多數人相信智庫長在建造並掩埋了地球之上的方舟傳送門之後在一次光環啟動中死亡，但也有人堅信智庫長仍然存活於世。先驅者遺物監視器343罪惡火花就曾劫持海軍情報局(ONI)的艦船去尋找智庫長。</p>
        <p>GEAS：一種神祕基因密碼，為了能夠讓人類傳遞承擔衣缽的責任與信念由智庫長植入今日人類中，密碼在某個特殊的時間點與環境之下蘇醒，淺移默化影響著人類一切，也許士官長、可塔娜等英雄人物的出現都與GEAS有潛在關係。</p>
        <p>重組機：先行者發明的一種超高科技機器，原理之複雜讓多數人難懂，能提取智慧生命意識與人格，移植進入其他生命DNA密碼中。還能夠延緩蟲族的感染進度，各種匪夷所思的功能都有。</p>
      </article-container>
      <article-parallax
        src-mob="./assets/img/halo/4.jpg"
        src-pad="./assets/img/halo/4.jpg"
        src-pc="./assets/img/halo/4.jpg"
      ></article-parallax>
      <article-container>
        <p>方舟：建造光環的星際工廠，地球上密藏有先行者智庫長建造的傳送門通往此處，上古蟲族大戰時還藏有眾多宇宙生物的樣本以便這些物種被蟲族滅絕後能復生。是《最後一戰：星環戰役2》的舞台。</p>
        <p>光環：直徑一萬公里厚度為三十公里圓形人造太空站，人類發現後命名光環(HALO)。它的內部環境氣候與地球相近，是先行者的遺跡，同時也是具備巨大殺傷力的武器，啟動後會消滅直徑2.5萬光年內所有的有機生命體。有些環帶有先行者保管與研究蟲族(The Flood)的實驗室。</p>
        <p>冥塚：(cryptum )先行者創造的放逐與懲罰修行聖地，密閉的冥塚能夠產生一種被稱為「無盡之夏卡拉」的冥想冬眠狀態，置身其中的先行者超脫於物理世界。</p>
        <h4>新生之星宣教士</h4>
        <p>集合智慧：即智域(domain)先驅者所創造的一個遍布整個宇宙的巨型資訊平臺，卻有半生物特性似死非活，據信是一種亞空間產物。被先行者作儲存資料用。但是新的資料會覆蓋在舊的資料上,打個比方,把一張紙放在箱子裡,然後把別的紙放進紙箱裡,這樣最早放進去的紙就很難找到了。在先行者文明的政治與日常生活中有重要角色。由於AI偏見之僧的叛亂導致每個先行者與集合智慧的連接被砍斷。[3]</p>
        <article-column-one
          src-mob="./assets/img/halo/3.jpg"
          src-pad="./assets/img/halo/3.jpg"
          src-pc="./assets/img/halo/3.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>蟲族：一種殘暴低智能外星人，蟲族初次現身，是在銀河星系外緣的大麥哲倫星雲。蟲族種族的準確起源至今尚不得知，可信來源是一種自動駕駛的上古星艦上載有不明粉末。上古人類發現這種粉末無害且可以令佩魯獸更聽話,於是在查輪·哈克行星上廣泛使用,但後來這種粉末突變,使吃了他們的佩魯獸變得狂暴並襲擊人類,最後演變成整個行星上的生物被感染為蟲族。蟲族的出現是先驅有關的一種宇宙大計畫一環。蟲族也能感染一切生物甚至機械生物變成一種寄生體—洪魔，[3]最終一場艱苦戰役後蟲族遭先行者鎮壓成功被滅，相關歷史被人為抹去後在銀河系成為遙遠回憶傳說，只有少數外星人知道蟲族真相。</p>
        <p>士官長：《最後一戰系列》主要劇情圍繞著今日人類的地球聯合國軍超級戰士斯巴達117「約翰」，又稱「士官長」（Master Chief）一個經過基因強化改造的人類士兵。</p>
      </article-container>
      <article-parallax
        src-mob="./assets/img/halo/3.jpg"
        src-pad="./assets/img/halo/3.jpg"
        src-pc="./assets/img/halo/3.jpg"
      ></article-parallax>
      <article-container>
        <p>可塔娜：聯合國的一台A級戰略人工智慧可塔娜（Cortana）由凱薩琳·哈爾茜博士製造，最初安裝於秋風之墩號戰艦，曾參與多起影響戰局的重大事件，最終可塔娜藉助先行者的集體智慧載體，修復好了自己人工智慧(AI)超出壽命期的「狂亂」，並妄圖通過武力統治銀河系以致「和平」。[4]</p>
        <p>瑞曲星：今日人類的UNSC聯合國太空指揮部主星球，後在星盟進攻下淪陷，但最終又被奪回。</p>
        <p>無盡號：UNSC聯合國先進超級戰艦，星盟戰爭末期研製，使用在戰爭期間回收的先行者與星盟科技。共有17151名人員，陸戰隊，斯巴達戰士，軍情局特工及平民、科學家服役其中。</p>
        <p>斯巴達計畫：人類進行基因和科技改造人的超級戰士計畫，目前為第四代，沒有斯巴達計畫人類無法與先進的外星文明一戰。</p>
        <article-column-one
          src-mob="./assets/img/halo/4.jpg"
          src-pad="./assets/img/halo/4.jpg"
          src-pc="./assets/img/halo/4.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>星盟：在先行者後崛起的一種外星多物種聯盟，以對先行者各種遺跡的朝聖和曲解又粗糙的衣缽文化建立一種宗教，形成神權政治的集合體，首都為一個全機械改裝的星球殘骸「博愛之城」。據信約公元前852年崛起成形，《最後一戰系列》多數以人類與星盟戰爭為背景。基本上先知族掌控星盟的政治，而精英族負責星盟的軍事防衛，後續加入的低端物種豺狼人、獵人、兵鋒、咕嚕人等作為可消耗的打手士兵。後來得知了真相，先知的朝聖之旅其實就是消滅所有智慧生物之後，精英種族毅然脫離了星盟而和人類結盟，同時引發了其他低端族叛亂。最後在內戰叛亂和蟲族再臨中名存實亡只剩虛弱的空殼。</p>
        <article-cast-anchor title="系列作品簡介"></article-cast-anchor>
        <h3>系列作品簡介</h3>
        <p>2001年上市開啟系列的第一作品，故事發生在一個未來的科幻宇宙一處名叫「HALO」的神秘環狀帶上。</p>
        <p>西元2552年八月遊戲故事開始2天前，星盟派遣主力艦隊，攻擊人類最重要的外環軍事殖民星球：瑞曲星（planet Reach，或譯致遠星）。即便人類投入全部可調動軍力：陸軍、太空艦隊與全體第二代斯巴達戰士：經由篩選基因與生物科技改造的精銳超級士兵進行防禦戰，但人類依然難以抵擋星盟的壓倒性武力而遭到完全殲滅，瑞曲星也隨即全面淪陷，在瑞曲星的人類武力只剩下一艘翠鳥級巡洋艦—秋風之墩號（ Pillar of Autumn），船上同時搭載了最後一個倖存的超級士兵：代號John-117號的第二代斯巴達戰士（士官長）。在超級人工智慧Cortana將先前由士官長所取回的有關先行者的資料與星系圖比對，發現了一個高度吻合的地區，同時也符合柯爾議定書的規定「不可在撤退時將任何星盟部隊引向內環殖民地與地球」，因此將秋風之墩號向該區域進行了超空間躍遷。而在那裡的太空中，出現了一個神秘的人造環狀帶（此段部份於小說《最後一戰：瑞奇之隕》結尾提及）。</p>
        <article-column-one
          src-mob="./assets/img/halo/5.jpg"
          src-pad="./assets/img/halo/5.jpg"
          src-pc="./assets/img/halo/5.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>但在此時，尾隨而來的星盟艦隊包圍了秋風之墩號，艦長雅各布·基斯（Jacob Keyes）下令迎戰並喚醒此時處於冷凍狀態的John-117號（之後以遊戲中的暱稱：士官長替代原名）。遊戲內容從此處開始。</p>
        <p>遊戲共有14關。出現一個新主角——神風烈士，是一名精英艦長(也是一個艦隊的指揮官)，因未能消滅人類艦隊(秋風之敦號成功逃脫)和Installation 04(04特區，即為戰鬥進化中出現的HALO)被毀以及艦隊旗艦被蟲族搶走而被革職。該主角讓玩家能從另一面檢視星盟。內容採用雙重故事發展。</p>
        <p>故事開始於士官長破壞HALO 04後一個月，士官長成功回到地球。同一時間，負責消滅人類的星盟終極正義艦隊艦長（即後來的神風烈士）被革職，受到星盟唾罵，他的死刑因先知要求而被暫時撤銷，並被先知封為神風烈士。當時駐守在HALO 04旁氣體星球內的星盟部隊突然叛變，成立異教並與星盟的宗教分庭抗禮，神風烈士的任務是殺死異教徒的首領以及在Halo 05的圖書館找到啟動HALO的索引器。</p>
        <p>士官長回來不久，星盟入侵地球，這次派出的軍隊比以往少，因為星盟並不知道地球是人類的家園，目標只是尋找先行者遺跡，所以很快被擊退，以空間跳躍離開，人類船艦緊隨其後(人類護衛艦--琥珀號跟隨先知的船一起進行空間跳躍)，發現了新的HALO環帶——HALO 05。</p>
        <article-column-one
          src-mob="./assets/img/halo/6.jpg"
          src-pad="./assets/img/halo/6.jpg"
          src-pc="./assets/img/halo/6.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <p>最後一戰2增加了幾種新的交通工具和武器，增加了先知、鬼面獸和兵蜂3種敵人，並且增強了遊戲的人工智慧系統，增加搶奪交通工具的能力。重寫原有的Halo遊戲引擎，並改進了物理引擎，採用正規映射和HDR技術的光暈效果。透過Bungie.net的追蹤，可評價每一場線上比賽（類似暴雪的Battle.Net）。最後一戰2除了支援XBOX LIVE以外，還可以切割畫面，進行多人遊戲。</p>
        <p>本遊戲有兩個版本：標準版是以普通XBOX遊戲包裝發售的，只有一張遊戲光碟和說明書；珍藏版採用特別設計的金屬盒裝，內容增加一張DVD、額外的手冊和特製說明書（增加了星盟觀點而不只是人類觀點）。這款遊戲在銷售首日就為微軟帶來超過12億美元的收入，從發行至今銷售超過700萬份。由微軟與Bungie共同開發的電腦版《最後一戰2》在2007年推出，只能在 Windows Vista 及 Windows 7 上遊玩。</p>
        <article-cast-anchor title="音樂"></article-cast-anchor>
        <h3>音樂</h3>
        <p>最後一戰系列作曲者主要皆為Martin O'Donnell</p>
        <p>《Halo Original Soundtrack》</p>
        <p>《Halo 2 Original Soundtrack》（Volume 1、2）</p>
        <p>《Halo 3 Original Soundtrack》</p>
        <p>《Halo 3: ODST - The Original Soundtrack》</p>
        <p>《Halo: Reach - The Original Soundtrack》</p>
        <p>《Halo Combat Evolved Anniversary - The Original Soundtrack》</p>
        <article-cast-anchor title="相關作品"></article-cast-anchor>
        <h3>相關作品</h3>
        <p>Halo宇宙在小說中不斷修改和補充內容。第一本小說，在台灣由尖端出版社出版，譯名為《最後一戰：瑞奇之隕》（Halo: The Fall of Reach），這是遊戲《最後一戰：戰鬥進化》的前傳。此書的作者是艾瑞克·尼倫德，在2001年十月發行。[5] 這本小說據說是在7周內寫出來的，[5] 並最終以20萬本的銷量成為《出版商周刊》最佳銷量圖書。 [6] 第二本小說《 最後一戰：蟲族肆虐》（Halo: The Flood）講述遊戲《最後一戰：戰鬥進化》裡的故事，作者是威廉·C·迪茨。這本書同樣在2003年5月成為《出版商周刊》最佳銷量圖書。[7]</p>
        <p>艾瑞克·尼倫德寫了第三本小說台灣譯名為《最後一戰：短兵鏖戰》（Halo: First Strike），是戰鬥進化及最後一戰2之間發生的事情，在2003年12月出版，[8] 約花了十六星期的時間。[6] 第四本小說台灣譯名為《最後一戰：瑪瑙之魂》（Halo: Ghosts of Onyx），作者仍然是艾瑞克·尼倫德，其於2006年10月31日出版[9]。約瑟夫·斯塔滕寫了最後一戰的第五本小說《最後一戰：豐饒星接觸》（Halo: Contact Harvest），並於2007年10月30日發售。講述的是2524年，UNSC與星盟艦隊的第一次遭遇戰，主角為Johnson中士。</p>
        <article-column-one
          src-mob="./assets/img/halo/7.jpg"
          src-pad="./assets/img/halo/7.jpg"
          src-pc="./assets/img/halo/7.jpg"
          alt="Halo Infinite"
        >Halo Infinite is an upcoming first-person shooter video game co-developed by 343 Industries and SkyBox Labs, published by Xbox Game Studios for Microsoft Windows, Xbox One and 4th-generation Xbox models, including the Xbox Series X.</article-column-one>
        <h4>《最後一戰4：航向黎明》（2012年）</h4>
        <p>《最後一戰4：航向黎明》改編自《最後一戰4》，製作了5集，每集約15分鐘的迷你影集，從2012年10月5日開始，每周五在Youtube的Machinima Prime頻道與Halo Waypoint更新一集，直到發售前夕。</p>
        <p>《最後一戰4：航向黎明》是《最後一戰4》的前傳故事，不過主要劇情的時間點卻是設定在早於《最後一戰4》很多，時間推回數十年前，人類與星盟大戰尚未爆發的人類內戰時期。故事敘述了在最後一戰4遊戲中登場的無盡號副艦長拉斯基在青少年時期與士官長的相遇過程。</p>
        <h4>《最後一戰：夜幕降臨》（2014年）</h4>
        <p>《最後一戰：夜幕降臨》是一部以最後一戰系列為背景的電視劇，全劇將有5集。在2014年11月隨《最後一戰：士官長合輯》同步推出。</p>
        <h4>未命名的Showtime電視劇</h4>
        <p>在2013年5月21日，微軟舉辦的Xbox One發布會上，343工作室的Bonnie Ross在會上宣布《最後一戰》系列將拍攝真人版電視劇集，並將由好萊塢著名導演史蒂芬·史匹柏監製。新電視劇集會在美國收費電視Showtime電視網上播映。[14]該計劃截至2016年7月仍然積極開發中。[15]2018年3月1日，宣布該劇將於2018年秋季開始拍攝，預計於2019年夏季或秋季播出[16]。2018年6月28日，宣布Showtime已確認放行第一季共10集的製作。</p>
      </article-container>
      <page-footer>
        <!-- <footer-next-article
          type="1"
          title="空服人生"
          text="全台有7000多間養豬場，據保守估計，轉型為動物福利飼養的可能不超過5間。為什麼這麼少？"
          img="./assets/img/4.jpg"
          href="https://udn.com"
        ></footer-next-article> -->
        <footer-next-article
          type="2"
          title="空服人生"
          img="./assets/img/4.jpg"
          href="https://udn.com"
        ></footer-next-article>
        <footer-editor>
          <div>
            <p>製作人</p>
            <p>洪欣慈</p>
          </div>
          <div>
            <p>採訪團隊</p>
            <p>洪敬浤、郭政芬、<br>黃瑞典、張裕珍、<br>吳淑君</p>
          </div>
          <div>
            <p>視覺設計</p>
            <p>張心慈</p>
          </div>
          <div>
            <p>網頁製作</p>
            <p>胡凈悟</p>
          </div>
          <div>
            <p>製作單位</p>
            <p>聯合報新媒體中心、<br>視覺設計中心</p>
          </div>
          <div>
            <p>監製</p>
            <p>聯合報新聞部</p>
          </div>
          <div>
            <p></p>
            <p>2019.11.26</p>
          </div>
        </footer-editor>
        <footer-share></footer-share>
        <footer-related-article
          title="系列報導"

          img1="./assets/img/r1.jpg"
          title1="報導-1"
          text1="地震後成為父母雙亡的孤兒如今都已長大，走過成長過程裡的淚水。"
          href1="https://udn.com"

          img2="./assets/img/r2.jpg"
          title2="報導-2"
          text2="地震後成為父母雙亡的孤兒如今都已長大，走過成長過程裡的淚水。"
          href2="https://udn.com"

          img3="./assets/img/r3.jpg"
          title3="報導-3"
          text3="地震後成為父母雙亡的孤兒如今都已長大，走過成長過程裡的淚水。"
          href3="https://udn.com"

          img4="./assets/img/r4.jpg"
          title4="報導-4"
          text4="地震後成為父母雙亡的孤兒如今都已長大，走過成長過程裡的淚水。"
          href4="https://udn.com"
        >
        </footer-related-article>
        <footer-questionnaire href="https://www.surveycake.com/s/KpQKN"></footer-questionnaire>
        <footer-fb-comment></footer-fb-comment>
        <footer-logo></footer-logo>
      </page-footer>
      <page-back-top></page-back-top>
    </div>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "url": "https://專題頁面正式網址",
        "headline": "同頁面標題",
        "datePublished": "2019-06-18T07:00:00+08:00",
        "dateModified":"2019-06-19T07:00:00+08:00",
        "description": "同頁面META敘述",
        "articleSection":"專題報導",
        "author": {
              "@type": "Organization",
              "name": "製作團隊人名"
        },
        "publisher": {
            "@type": "Organization",
            "name": "udn 新媒體中心 | 聯合報",
            "logo": {
                "@type": "ImageObject",
                "url": "https://udn.com/upf/newmedia/image/nmd-logo.png"
              },
            "sameAs": ["https://www.facebook.com/udnplus/", "https://www.instagram.com/udngroup/","https://www.youtube.com/channel/UCEt9Vy6Kz4GKlePLgIJbtoA"]
        },
        "image": {
              "@type": "ImageObject",
              "url": "專題頁面正式網址+分享圖片路徑+檔名"
        },
        "mainEntityOfPage": "專題頁面正式網址"
      } 
    </script>
  </body>
</html>