* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article {
  width: 100%;
  margin: auto;
  @include pc() {
    max-width: 880px;
  }

  p {
    text-align: justify;
    margin-bottom: 100px;
  }
}