// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: source-han-sans-cjk-tc, "Noto Sans TC", "Microsoft JhengHei", Roboto, sans-serif;
}

h1, h2, h3, h4, p {
  &.white {
    color: #f6f6f6;
  }
}

h1 {
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 700;
  @include pc {
    font-size: 3.125rem;
    line-height: 1.25;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 700;
  @include pc {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 64px;
}

h4 {
  font-size: 1.315rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  line-height: 1.7;
  @include pc {
    font-size: 1.25rem;
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.5;
    @include pc {
      font-size: 1rem;
    }
  }
}

a, button {
  font-family: source-han-sans-cjk-tc, "Noto Sans TC", "Microsoft JhengHei", Roboto, sans-serif;
}
